<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.example.bagasekaa.cekgadgetmu_2">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".order_admin"></activity>
        <activity android:name=".profile_mitra" />
        <activity android:name=".profile_user" />
        <activity android:name=".Order_Status" />
        <activity android:name=".User_Diagnosa" />
        <activity android:name=".laporan_kerusakan" />
        <activity android:name=".popup_tukang" />
        <activity android:name=".cari_tukang" />
        <activity android:name=".main_user" />
        <activity android:name=".main_admin" />
        <activity android:name=".reset_password" />
        <activity android:name=".sign_up" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>